---
import type { CollectionEntry } from "astro:content";
import type { IElement } from "@/data/shared";
import { getFormattedDate } from "@/utils";
import { Image } from "@astrojs/image/components";

interface Props extends IElement {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
	withThumbnail?: boolean;
}

const { post, as: Element = "div", withDesc = false, withThumbnail = false} = Astro.props;
const date = new Date(post.data.publishDate);
const datetime = date.toISOString();
const postDate = getFormattedDate(date, { month: "short" });

---
<div class="flex flex-col">
<time datetime={datetime} class="min-w-[120px] text-gray-500">{postDate}</time>
<Element class="flex-shrink-0">
	<a href={`/posts/${post.slug}`} class="cactus-link" rel="prefetch">
		{post.data.title}
	</a>
</Element>
{withDesc && <q class="line-clamp-3 mt-2 block italic">{post.data.description}</q>}
{withThumbnail && post.data.thumbnail && (
	<div class="h-32 overflow-hidden">
	  <Image
		src={post.data.thumbnail}
		alt={post.data.title}
		width={800}
		height={400}
	  />
	</div>
  )}
</div>